@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

html,
body {
  margin: 0;
  padding: 0;

}

body {
  background: #f4f4f4;
}

body * {
  font-family: Segoe UI WestEuropean,Segoe UI,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-weight: 200;
}

.formContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
    height: 300px;
    width: 400px;
    background: #FFF;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
    padding: 10px;
}
