body {
    overflow: hidden;
}

.searchTable {
    margin-top: 253px;
    overflow: auto;
    height: calc(100vh - 250px);
}

#root > div > section > div > div > div > div:nth-child(1) > div {
    position: fixed!important;
    top: 216px!important;
    width: 100vw!important;
    z-index: 99!important;
}

div[class^="ms-FocusZone ms-DetailsHeader"]  {
    position: fixed!important;
    top: 216px!important;
    width: 100vw!important;
    z-index: 99!important;
}

.infoMessageContainer {
    height: 90%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.errorMessage {
    color: red;
    font-weight: 300;
}
